.paragraph {
    margin: 20px auto;
    max-width: 150px;
    text-align: center;
}

.paragraph--hidden {
    margin: 20px auto;
    text-align: center;
    visibility: hidden;
}

.paragraph--visible {
    visibility: visible;
}
